# Validação de Usuário
JWT_SECRET=sua_chave_secreta_aqui

# Banco de Dados
DB_HOST=localhost
DB_NAME=smartcart
DB_USER=root
DB_PASS=
DB_PORT=3306

#SMTP
MAIL_USER=smartcart.contato@gmail.com
MAIL_PASS=
MAIL_FROM_NAME=SmartCart Team