body {
    background-color: rgb(243, 243, 243);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: montserrat;
    color: #4e4f3d;
}

main {
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 860px;
    height: 80%;
}

.main-usuario{
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    height: 580px;
}

.voltar {
    position: fixed;
    top: 0;
    left: 0;
}

.voltar img {
    padding: 10px;
    width: 70px;
    height: 70px;
}

.top-container-cadastro {
    
    height: 250px;
    display: flex;
    gap: 50px;
}

#image-container {
    background-color: white;
    border: 1px solid #dcdcdc;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.placeholder-text {
    color: #888;
    font-family: montserrat;
    text-align: center;
    pointer-events: none;
    /* O clique passa direto pelo texto para a div */
    padding: 10px;
}

#preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cobre a área mantendo a proporção */
    display: none;
    /* Escondida inicialmente */
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
    height: 250px;
}

.input-container-all-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 250px;
}

.input-container #input-nome{
    width: 500px;
    height: 40px;
    border: 1px solid black; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-container #input-preço{
    width: 220px;
    height: 40px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-container #input-email{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-container #input-nome-produto{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-container-numbers{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.input-container-numbers-produto{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.description-container{
    margin-top: 20px;
    

    width: 100%;
    height: 300px;
    
}

.description-container textarea{
    font-family: montserrat;

    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    resize: none;
}

.container-button-produto{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-button-produto input{
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #a0b179;
    font-family: montserrat;
    font-weight: 600;
    color: #4e4f3d;
    font-size: 12pt;
    transition: transform 0.1s ease;
}

.container-button input:hover{
    transform: scale(1.05);
}

.container-button input:active{
    transform: scale(0.9);
}

.container-button{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-button input{
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #a0b179;
    font-family: montserrat;
    font-weight: 600;
    color: #4e4f3d;
    font-size: 12pt;
    transition: transform 0.1s ease;
}

.container-button input:hover{
    transform: scale(1.05);
}

.container-button input:active{
    transform: scale(0.9);
}

.container-button-produto{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-button-produto input{
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #a0b179;
    font-family: montserrat;
    font-weight: 600;
    color: #4e4f3d;
    font-size: 12pt;
    transition: transform 0.1s ease;
}

.container-button input:hover{
    transform: scale(1.05);
}

.container-button input:active{
    transform: scale(0.9);
}