* {
    font-family: montserrat;
  }
  
  body {
    margin: 0;
    overflow: hidden;
  }
  
  nav {
    background-color: #a0b179;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -20px;
  }
  
  nav a {
    text-decoration: none;
    color: #4e4f3d;
    font-size: 20px;
  }
  
  .logo svg {
    transform: translateY(-8%);
    width: 120px;
    height: 120px;
  }
  
  nav p {
    font-size: 20px;
    color: #4e4f3d;
    align-self: center;
  }
  
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    width: 160px;
  }
  
  .user p {
    font-size: 20px;
    color: #4e4f3d;
    margin: 0;
    display: flex;
    margin-right: 10px;
    gap: 5px;
  }

  .home{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: #4e4f3d;
 
  }

.section-text{
    width: 950px;
}
.section-text h1{
    font-size: 60px;
}
.section-text p{
    font-size: 30px;
}

  form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  input {
    width: 600px;
    height: 80px;
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 16px;
  }
  ::placeholder{
    font-size: 20px;
    padding-left: 20px;
  }
  .mensagem {
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 20px;
    padding-top: 20px;   /* placeholder vai para o topo */
    resize: none;
  }

  button {
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 30px;
    padding: 20px 20px;
    width: 55%;
    font-size: 20px;
    background: #CACDA5;
    color: #4E4F3D;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  }

  .whats a{
    text-decoration: none;
    color: #4E4F3D;
    font-size: 30px;
    background-color: #CACDA5;
    border-radius: 20px;
    padding: 20px 20px;
  }

  .whats svg{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    fill: #4E4F3D;
    transform: translateY(-3px);
  }