* {
  font-family: montserrat;
}

body {
  margin: 0;
}

nav {
  background-color: #a0b179;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: -20px;
}

nav a {
  text-decoration: none;
  color: #4e4f3d;
  font-size: 20px;
}

.logo svg {
  transform: translateY(-8%);
  width: 120px;
  height: 120px;
  cursor: pointer;
}

nav p {
  font-size: 20px;
  color: #4e4f3d;
  align-self: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 221.16px;
  margin-right: 40px;
}

.user p {
  font-size: 20px;
  color: #4e4f3d;
  margin: 0;
  display: flex;
  gap: 5px;
}
.user .icone {
  width: 70px;
  height: 70px;
}

.user li {
  list-style: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
}

.dropdown-menu {
  position: absolute;
  top: 78%;
  right: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}

.dropdown.open .dropdown-trigger {
  background-color: #aebb80;
  border-radius: 10px 10px 0 0;
}

.dropdown.open .dropdown-menu {
  display: flex;
}

.dropdown.open .arrow-icon {
  transform: rotate(180deg);
}

.main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  width: 1200px;
  text-align: left;
  margin: 0 0 20px 0;
}

.card {
  width: 1200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardUp {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding: 20px;
}

.cardDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.img {
  display: flex;
  align-items: center;

  width: 200px;
  height: 200px;
  border-right: 1px solid #ccc;
}
