*{
    font-family: montserrat;
}

body{
    margin: 0;
}

nav{
    background-color: #A0B179;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -20px;
}

nav a{
    text-decoration: none;
    color: #4E4F3D;
    font-size: 20px;
}
.logo svg {
    transform:translateY(-8%) ;
    width: 120px;
    height: 120px;
    cursor: pointer;
  }

nav p{
    font-size: 20px;
    color: #4E4F3D;
    align-self: center;
}
.user{
    display: flex;
    margin-right: 20px;
    width: 160px;

}
.user p{
    font-size: 20px;
    color: #4E4F3D;
    margin: 0;
    display: flex;
    margin-right: 10px;
    gap: 5px;
}

.container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 50px;
}

.row {
    width: 100%;
    margin-left: 41px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 60px;
    column-gap: 20px;

}

.card-body {
    background-color: rgb(163, 163, 163);
    color: rgb(25
    5, 255, 255);
    border-radius: 15px;
    color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.img-produto{
    width: 200px;
    height: 200px;
    border-radius: 8px;

}

.card-body p {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.card-info{
    display: flex;
    gap: 50px;
}

.card-info p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    padding: 0px;
    margin: 10px;
    font-size: 20pt;
    color: rgb(255, 255, 255);
}



