*{
    font-family: Noto Serif, sans-serif;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;  
}

nav{
    background-color: #333;
    color: white;
    padding: 30px;
}
h1{
    margin-left: 50px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
ul{
    margin-left: 400px;
}
ul p{
    font-size: 25px;    
}
li{
    list-style-type: none;
    
}
li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
