*{
    font-family: Noto Serif, sans-serif;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;  
}

nav{
    background-color: #333;
    color: white;
    padding: 30px;
}
h1{
    margin-left: 50px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
ul{
    margin-left: 400px;
}
ul p{
    font-size: 25px;    
}
li{
    list-style-type: none;
    
}
li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border-radius: 100px;
}

.container h1{
    color: white;
    margin: auto;
}
.beneficios{
    background-color: #e7e7e7;
    border-radius:8px;
    padding: 20px;
    box-shadow: #c5c5c5 1px 1px 1px 1px;
    margin: auto;
    width: 700px;
    font-size: 20px;
    justify-content: center;
}
.pqComprar{
    background-color: #e7e7e7;
    border-radius:8px;
    padding: 20px;
    box-shadow: #c5c5c5 1px 1px 1px 1px;
    margin: auto;
    width: 700px;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
}

.comoFunciona{
    background-color: #e7e7e7;
    border-radius:8px;
    padding: 20px;
    box-shadow: #c5c5c5 1px 1px 1px 1px;
    margin: auto;
    width: 700px;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}