*{
    font-family: montserrat;
}

body{
    margin: 0;

}

nav{
    background-color: #A0B179;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -20px;
}

nav a{
    text-decoration: none;
    color: #4E4F3D;
    font-size: 20px;
}
.logo svg {
    transform:translateY(-8%) ;
    width: 120px;
    height: 120px;
  }

nav p{
    font-size: 20px;
    color: #4E4F3D;
    align-self: center;
}
.user{
    display: flex;
    margin-right: 20px;
    width: 160px;

}
.user p{
    font-size: 20px;
    color: #4E4F3D;
    margin: 0;
    display: flex;
    margin-right: 10px;
    gap: 5px;
}
.titulo{
    color: #4E4F3D;
    width: 700px;
    font-size: 28px;
    margin-left: 100px;
}
.section-home{
    display: flex;
    justify-content: left;
    align-items: center;
    height: calc(100vh - 100px);
    background-image: url('../img/onda.png');
}
.section-mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #A3A277;
}

.section-mid .coluna{
    width: 50%;
    display: flex;
    justify-content: center;
}

.coluna image{

}