* {
  font-family: montserrat;
}

body {
  margin: 0;

}

nav {
  background-color: #a0b179;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: -20px;
}

nav a {
  text-decoration: none;
  color: #4e4f3d;
  font-size: 20px;
}

.logo svg {
  transform: translateY(-8%);
  width: 120px;
  height: 120px;
  cursor: pointer;
}

nav p {
  font-size: 20px;
  color: #4e4f3d;
  align-self: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 221.16px;
  margin-right: 40px;
}

.user p {
  font-size: 20px;
  color: #4e4f3d;
  margin: 0;
  display: flex;
  gap: 5px;
}
.user .icone {
  width: 70px;
  height: 70px;
}

.user li {
  list-style: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
}

.dropdown-menu {
  position: absolute;
  top: 78%;
  right: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}

.dropdown.open .dropdown-trigger {
  background-color: #aebb80;
  border-radius: 10px 10px 0 0;
}

.dropdown.open .dropdown-menu {
  display: flex;
}

.dropdown.open .arrow-icon {
  transform: rotate(180deg);
}

.msg.sucesso {
  background-color: #d4f8d4;
  color: #1f7a1f;
  border: 1px solid #7bd67b;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: 500;
  left: 800px;
  top: 20px;
  position: fixed;
  z-index: 9999;
}

.msg.erro {
    background-color: #fce7e7; 
    color: #cc0000;        
    border: 1px solid #e65c5c; 
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: 500;
    left: 800px; 
    top: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
}

.titulo {
  color: #4e4f3d;
  width: 700px;
  font-size: 28px;
  margin-left: 100px;
}

.section-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh + 100px);
  background-image: url("../img/onda.png");
  background-repeat: no-repeat;
}

.section-home img{
  width: 700px;
  height: 700px;
}

#container-home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.section-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #cacda5;
}

.section-mid .coluna {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #4e4f3d;
}

.section-mid img{
  width: 600px;
  height: 600px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h1 {
  font-size: 40px;
}

.text p {
  font-size: 25px;
  width: 800px;
}

.foto-produto {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 1700px;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide p{
  text-align: left;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipe-button {
  width: 1650px;
  display: flex;
  justify-content: right;
  padding: 10px;
  
}

.swipeButton {
  background-color: #cccfa7;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 12pt;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  
}

.foto-slide{
  background-color: #dbdbdb;
  width: 545px;
  height: 320px;
  border-radius: 30px;
}

#sec-video{
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#video-container video{
  height: 80%;
  width: 80%;
  border-radius: 30px;
}

#sec-avaliacao{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;   /* centro horizontal */
  align-items: center;       /* centro vertical dentro da linha */
  
  flex-direction: column;
  
  padding: 0;
  margin: 0;
  gap: 0; 
  

}



.container-box-avaliacao{
  height: 300px;
  width: 80%;
  
  display: flex;
  
  justify-content: space-between; 
  align-items: center;
  flex-direction: row;
  
  
}

.container-box-avaliacao-segundo{
  height: 300px;
  width: 80%;
  margin-top: 50px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  
}

.box-avaliacao{
  background-color: #e0e1cc;
  border-radius: 30px;
  padding: 30px;
  height: 200px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

#botao-avaliacao{
  margin-top: 30px;
  width: 800px;
  height: 70px;
  border: none;
  background-color: #636850;
  color: #e0e1cc;
  font-weight: bold;
  font-size: 12pt;
  border-radius: 20px;

}



.content-avaliacao{
  width: 90%;
}


#sec-orcamento{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#sec-orcamento h1{
  font-weight: normal;
  font-size: 36pt;
}

#sec-orcamento span{
  font-weight: bold;
}

#sec-orcamento h2{
  font-weight: normal;
}

#sec-orcamento button{
  height: 70px;
  width: 500px;
  border: none;
  border-radius: 30px;
  background-color: #a0b079;
  margin-top: 30px;
  font-weight: bold;
  font-size: 12pt;
}

#sec-orcamento button:hover{
  background-color: #b5c492;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  background-color: #a0b179;
  color: #4e4f3d;
  height: 400px;
}

.container-foot {
  display: flex;
}

.linha {
  display: flex;
  gap: 50px;
}

.coluna h1 {
  font-weight: bold;
  font-size: 15pt;
  width: 300px;
}

.coluna li {
  list-style: none;

  color: #4e4f3d;
}

.coluna a {
  text-decoration: none;
}

.coluna a li:hover {
  color: white;
}

.coluna ul {
  margin: 0;
  padding: 0;
}

#rs-container {
  display: flex;
  gap: 10px;
  padding: 10px 0 20px 0px;
}

#rs-container svg {
  width: 50px;
  height: 50px;
}

#fdp-container svg {
  width: 70px;
  height: 70px;
}

#foot-info {
  display: flex;
  margin-top: 70px;
  gap: 50px;
}

#foot-info p {
  margin: 0;
}

hr {
  border: 1px solid #4e4f3d;
}
