<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cadastrarAdmin.css') }}">
    <title>Cadastrar produto - SmartCart</title>
</head>

<body>
    <a class="voltar" href="/admin/produtos"><img src="/static/img/Seta.png" alt="" /></a>

    <main class="main-usuario">
        <h1>Cadastro de Usuário Admin</h1>
        <form id="form-cadastro-produto" action="/admin/cadastrarUsuario" method="POST" enctype="multipart/form-data">
            <div class="top-container-cadastro">
                
                <div class="input-container-all-produto">
                    <div class="input-container">
                        <label for="nome">Nome:</label>
                        <input type="text" id="input-nome-produto" name="nome" required>
                    </div>
                    <div class="input-container-numbers-produto">
                        <div class="input-container">
                            <label for="cnpj">CNPJ:</label>
                            <input type="text" id="input-preço" name="cnpj" step="0.01" min="0" required>
                        </div>
                        <div class="input-container">
                            <label for="telefone">Telefone:</label>
                            <input type="text" id="input-preço" name="telefone" min="0" required>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="input-container">
                <label for="email">Email:</label>
                <input type="email" name="email" id="input-email" required>
            </div>

            <div class="container-button-produto">
                <input type="submit" value="Cadastrar Produto">
            </div>
        </form>
    </main>

</body>

</html>