<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Sobre - SmartCart</title>
  </head>
  <body>
    <div class="historia">
      <p>
        A SmartCart surgiu a partir de um propósito simples: revolucionar a
        forma como as pessoas fazem suas compras. Observando os desafios
        enfrentados em supermercados — longas filas, falta de praticidade e
        pouca integração tecnológica —, nossa equipe identificou uma
        oportunidade de unir inovação e conveniência em um único produto. Em
        2022, após meses de pesquisa e desenvolvimento, nasceu o SmartCart, um
        carrinho inteligente capaz de reconhecer automaticamente os produtos
        inseridos e somar o valor total da compra em tempo real. Por meio de
        sensores, câmeras e um sistema de inteligência embarcada, o SmartCart
        oferece uma experiência moderna, ágil e intuitiva para consumidores e
        estabelecimentos. Desde então, a SmartCart Solutions tem se consolidado
        como uma empresa comprometida com a inovação no varejo. Nosso objetivo é
        tornar as compras mais rápidas, seguras e sustentáveis, promovendo a
        transformação digital dos supermercados e melhorando a experiência de
        compra de milhões de pessoas. Hoje, seguimos com a mesma visão que nos
        inspirou desde o início: simplificar o cotidiano por meio da tecnologia,
        aproximando eficiência, conforto e inteligência em cada detalhe.
      </p>
    </div>
  </body>
</html>
